<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--UAT Environment-->
    <add key="AuthBase" value="https://login.windows.net/" />
    <add key="TenantId" value="open.glasgow.gov.uk" />
    <add key="ClientId" value="{YOUR CLIENT ID}" />
    <add key="ClientKey" value="{YOUR SUBSCRIPTION KEY}" />   
    <add key="DataCollectionResourceId" value="http://GCCCTPECServicesPrep.cloudapp.net:8080/" />
    <add key="OrgId" value="{YOUR ORGANISATION ID}" />
    <add key="DatasetId" value="{YOUR DATASET ID }" />
    <add key="FileId" value="{YOUR FILE ID }" />
    <add key="SubscriptionKey" value="{ YOUR SUBSCRIPTION KEY }" />
    <add key="PathToJsonNewFileRequestBody" value="C:\dev\code\gcc\GCC.API.ClientDemo\test.json" />
    <add key="PathToJsonNewFileRequestBodyExternal" value="C:\dev\code\gcc\GCC.API.ClientDemo\testexternal.json" />
    <add key="PathToNewFile" value="C:\dev\code\gcc\GCC.API.ClientDemo\test.csv" />
    <add key="UploadedFileName" value="test.csv" />
  </appSettings>
</configuration>